/*--------------------------
/* Página activar documentos
/*--------------------------*/
/* Común a todos los documentos a activar */
.itemdoc,
.cabadhesion {
  	text-align: center;
}

/*----------------------
/* Documento de adhesión
/*----------------------*/
.cabadhesion {
  	color: #337AB7;
}

#idioma {
	top: 0;
}